.sidebar-container {
    scrollbar-width: thin;
    scrollbar-color: #4B5563 #1F2937;
}

.sidebar-container::-webkit-scrollbar {
    width: 8px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: #1F2937;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 4px;
}

.content {
    scrollbar-width: thin;
    scrollbar-color: #D1D5DB #F3F4F6;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: #F3F4F6;
}

.content::-webkit-scrollbar-thumb {
    background-color: #D1D5DB;
    border-radius: 4px;
}
